/vendor
*.DS_Store*
!.env.example
.env
.vagrant/*
.vscode/*
/.idea
/nbproject

node_modules
*.log
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache
public/assets/manifest.json

misc
.phpstorm.meta.php
.php_cs.cache

coverage.xml

*.log
resources/lang/locales.js
resources/assets/pterodactyl/scripts/helpers/ziggy.js
resources/assets/scripts/helpers/ziggy.js
.phpunit.result.cache
